.joinUsBox {
  background-color: #262e36;

  text-align: left;
  color: white;
  padding: 20px;
}

.header1 {
  font-size: 2rem;
}
.header2 {
  font-size: 1rem;
}

.upperSection {
  font-size: 1rem;
  padding: 10px;
}

.separator {
  border: 1px solid #ffffff50;
  margin-right: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60px;
}

.lowerSection {
  font-size: 0.75rem;
  left: 20%;
  width: 95%;
  margin: auto;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.btn1 {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .joinUsBox {
    text-align: center;
  }
  .header2 {
    font-size: 1.5rem;
  }
  .separator {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }
  .buttons {
    flex-direction: row;
    justify-content: center;
    width: 45%;
  }
  .btn1 {
    margin-right: 20px;
    width: 350px;
  }
  .btn2 {
    margin-left: 20px;
    width: 350px;
  }
}

@media only screen and (min-width: 992px) {
  .joinUsBox {
    text-align: center;
  }
}
