.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 2px 10px;
    height: 40px;
}

.smallBtn {
    max-width: fit-content;
}

.bigBtn {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .smallBtn {
        height: 60px;
    }
    .bigBtn{
        width: 400px;
    }   
}
