#about, #support {
  .content-about-container, .content-about-container-only-text {
    display: grid;
    gap: 20px;
    padding: 10px 0;
  }

  .media-container {
    display: flex;
    flex-direction: column;
    height: 300px;
  }
  .content-about{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  #about, #support {
    .content-about-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      padding: 30px 0;
      .media-container {
        width: 100%;
        height: 300px;
      }
      &:nth-child(odd) {
        .media-container {
          grid-area: 1 / 1 / 2 / 2;
        }
        .text-about {
          grid-area: 1 / 2 / 2 / 3;
        }
      }
    }
    .content-about-container-only-text{
      padding: 30px 0;
    }
  }
}
