@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

$primary: #262E36;
$secondary: #B12009;
$tertiary: #CFC36F;

$text: #000;
$text-muted: rgba(0,0,0,0.4);

$grey: #EAEAEA;
$white: #fff;

$font: 'Noto Sans JP', sans-serif;
