.donateContainer {
    .titleDonate{
        font-size: 24px;
        font-weight: 600;
    }

    .personalData{
        margin-top:15px;
        .titlePersonalData{
            font-size: 20px;
        }
        .form{
            margin-top: 20px;           
        }
    }
}