#events{
    .title{
        margin-bottom: 20px;
    }
    article{
        width: 100%;
        margin: 30px auto;
        box-shadow: 0px -2px 20px 0px #aeaeae;
        .details::-webkit-scrollbar {
            width: 2px;
            background: none;
        }
        .details::-webkit-scrollbar-thumb {
            background-color: #CFC36F;
        }
    }
}

@media only screen and (min-width: 992px){
    #events{
        .title{
            text-align: center;
            margin-bottom: 50px;
        }
        article{
            max-width: 1200px;

        }
    }
}
