#home {

    // utils
    .title {
        font-size: 24px;
    }

    .results {
        .title {
            margin: 10px 0 30px 0;
        }

        figure {
            display: flex;
            justify-content: center;
            margin: 50px 0;
            img {
                width: 200px;
            }
        }

        .statics {
            margin: 20px 0;
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            div {
                width: calc(100%/3);
                display: flex;
                justify-content: center;

                h6 {
                    font-size: 30px;
                }
            }
        }

        .caption {
            margin: 30px 0;
        }
    }

    .stayUpToDate {
        .subTitle {
            font-weight: light;
            margin: 15px 0 30px 0;
        }

        .iframeContainer {
            iframe {
                width: 100%;
                height: 500px;
                box-shadow: 1px 6px 12px 0px #0000007d;
            }
        }
    }

    .history {
        margin: 50px 0;

        .description {
            margin: 20px 0 40px 0;
        }

        .imageContainer {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    @media only screen and (min-width: 767px) {
        .title {
            font-size: 40px;
        }

        .results {

            .statics {
                div {
                    h6 {
                        font-size: 40px !important;
                    }
                }
            }
            img{
                width: 300px !important;
            }

            .caption {
                p {
                    font-size: 25px;
                }
            }
        }
        .stayUpToDate {
            .subTitle {
                font-size: 20px;
            }
    
            .iframeContainer {
                iframe {
                    width: 100%;
                    height: 700px;
                    box-shadow: 1px 6px 12px 0px #0000007d;
                }
            }
        }
        .history {    
            .description {
                font-size: 20px;
            }
        }
    }
}