@import "./common.scss";

.arrowButton {
  position: fixed;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.65);
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease-in-out;
  &.scrollToTopButton {
    bottom: 20px;
    right: 20px;
  }
  &.goBackButton {
    top: 124px;
    left: 20px;
  }
  &:hover {
    transform: scale(105%);
  }
}

#home {
  section {
    padding: 25px 0;

    &.results {
      figure {
        display: flex;
        justify-content: center;
        margin: 30px 0;
        img {
          width: 200px;
        }
      }
      .statics {
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        div {
          width: calc(100% / 3);
          display: flex;
          justify-content: center;
        }
      }
    }

    &.events,
    &.articles {
      .articleContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        gap: 40px;
        padding: 20px 0;
      }
      .articleContainer::-webkit-scrollbar {
        background: none;
        height: 10px;
      }
      .articleContainer::-webkit-scrollbar-thumb {
        background-color: $primary;
      }
    }

    &.stayUpToDate {
      width: 100%;
      .iframeContainer {
        iframe {
          width: 100%;
          height: 500px;
          box-shadow: 1px 6px 12px 0px #0000007d;
        }
      }
    }
    &.history {
      .imageContainer {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    .description {
      padding: 20px 0 40px 0;
    }
  }
}

@media only screen and (min-width: 767px) {
  #home {
    section {
      &.results {
        img {
          width: 300px;
        }
      }

      &.stayUpToDate {
        .iframeContainer {
          iframe {
            width: 100%;
            height: 700px;
            box-shadow: 1px 6px 12px 0px #0000007d;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .arrowButton {
    &.goBackButton {
      left: 50px;
    }
  }
}
