@import "./common.scss";

#notFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .notFoundContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .found-title-color{
        color:$secondary
    }
    .error-icon{
        width: 100px;
        height: 100px;
        color: $primary
    }
}


@media (min-width: 992px) {
    .notFoundContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }
