@import "./common.scss";

#resetPassword {
  display: flex;
  flex-direction: column;
  align-items: center;

  .resetPassword-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-top: 20px;

  }
}

@media (min-width: 992px) {
  .resetPassword-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .input-box {
      display: flex;
      justify-content: stretch;
    }
  }
  
  .form {
    width: 50vw;
  }
}