@import "../styles/common.scss";
main#signup {
  .form {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .aside-section {
    padding-top: 20px;
    color: $text-muted;
    display: flex;
    align-items: center;
    flex-direction: column;
    a {
      color: $text-muted;
    }
  }
}

.input-box{
  display: grid;
  gap: 10px;
}

@media (min-width: 768px) {
  main#signup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .form {
    width: 50vw;
  }
  .aside-section {
    padding-top: 50px;
  }

  .input-box {
    display: flex;
    justify-content: stretch;
  }
}
