.content-about-container {
  padding: 20px;
}

.title {
  font-size: 2rem;
}

.img-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  height: 300px;
}
.img-about {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .content-about-container {
    display: flex;
    flex-direction: row;
  }

  .img-container {
    margin-top: 0;
    margin-left: 50px;
    width: 100%;
    height: 300px;
  }
  .img-about {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }

  .content-about-container-inverted {
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
  }

  .img-container-inverted {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-right: 50px;
    width: 100%;
    height: 300px;
  }
}
