#prefooter {
  display: flex;
  flex-direction: row;
  background-color: #eaeaea;
  height: fit-content;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;

  .logo {
    width: 30%;
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }

  .infoContact {
    width: 70%;
    text-align: center;
    flex-direction: column;
    font-size: 16px;
  }

  .logo,
  .infoContact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  #prefooter {
    height: fit-content;
    padding: 40px 40px;
    align-items: center;
    flex-direction: row;
    display: flex;

    .logo {
      width: 30%;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
    .infoContact {
      font-size: 20px;
    }
  }
}
