@import url("../../../styles/common.scss");

.hero-container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  position: relative;
  // filter: brightness(.5);
  color: white;
  display: flex;
  &:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
  }
  .hero-content{
    position: relative;
    z-index: 9;
  }

  .hero-title{
    font-size: 30px;
  }

  .hero-subtitle{
    font-weight: 300;
    padding-bottom: 30px;
  }

  .hero-category {
    font-size: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .hero-linebr {
    width: 80%;
    height: 3px;
    margin: 25px 0;
    background-color: white;
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.hero-container-home{
  flex-direction: column;
  justify-content: center;
}
.hero-container-article{
  flex-direction: column;
  justify-content: flex-end;
}
.hero-container-about{
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media(min-width: 768px){
  .hero-container{
    padding: 50px;
    .hero-content{
      width: 50vw;
      .hero-title{
        font-size: 60px;
      }
      .hero-subtitle{
        font-size: 24px;
        font-weight: 300;
        padding-bottom: 50px;
      }
      .hero-category {
        font-size: 15px;
        margin-bottom: 18px;
        text-transform: uppercase;
      }
    }
  }
}

@media(min-width: 992px){
  .hero-container{
    padding: 50px;
    .hero-content{
      width: 50vw;
      .hero-subtitle{
        font-size: 24px;
        font-weight: 300;
        padding-bottom: 50px;
      }
    }
  }
}


.hero-about-card {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  padding: 0 25px;
  color: white;

  .hero-mission {
    font-size: 30px;
    text-align: center;
  }
}