.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
    .hero-bg{
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    .hero-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .hero-card {
        position: absolute;
        z-index: 1;
        width: 60%;
        padding: 0 25px;
        color: white;

        .hero-title {
            font-size: 30px;
            font-weight: 500;
        }
        .hero-linebr{
            width: 80%;
            height: 3px;
            background-color: white;
        }
    }
}

@media only screen and (min-width: 768px){
    .hero-card {
        width: 75%;
        padding: 0 105px !important;  

        .hero-title {
            font-size: 55px !important;
            font-weight: 700;
        }
    
        .hero-linebr {
            height: 5px;
        }
    
        .hero-subtitle {
            font-size: 35px;
            font-weight: 500;
        }
    }
}