@import './styles/common.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
}

ul,
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  height: auto;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
}