@import "./styles/common.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
}

ul,
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  height: auto;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
}

main{
  &#blog, &#donate, &#events, &#faq, &#login, &#personalArea, &#signup{
    padding-top: calc(104px + 20px);
  }
  &#about, &#support, &#article{
    padding-top: 104px;
  }
}

// main {
//   padding-top: calc(104px + 20px);
//   &.home {
//     padding-top: 147.2px;
//   }
//   &.article, &.about, &.support {
//     padding-top: 104px;
//   }
// }

.sectionContainer{
  padding: 20px;
}

h1 {
  font-size: 24px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
    padding-bottom: 20px;
  }
  main{
    &#blog, &#donate, &#events, &#faq, &#login, &#personalArea, &#signup{
      padding-top: calc(104px + 50px);
    }
  }
  .sectionContainer{
    padding: 50px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 48px;
  }
  main{
    &#blog, &#donate, &#events, &#faq, &#login, &#personalArea, &#signup{
      padding-top: calc(104px + 100px);
    }
  }
  .sectionContainer{
    padding: 100px;
  }
}
