@import "./styles/common.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
}

ul,
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  height: auto;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

main {
  padding: calc(104px + 20px) 20px 20px 20px;
  &.home {
    padding: calc(147.2px + 20px) 20px 20px 20px;
  }
  &.article {
    padding: 20px;
  }
}

h1 {
  font-size: 24px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
    padding-bottom: 20px;
  }
  main {
    padding: calc(104px + 50px) 50px 50px 50px;
    &.home {
      padding: calc(147.2px + 50px) 50px 50px 50px;
    }
    &.article {
      padding: 50px;
    }
  }
}

@media (min-width: 992px) {
  main {
    padding: calc(104px + 100px) 100px 100px 100px;
    &.home {
      padding: calc(147.2px + 100px) 100px 100px 100px;
    }
    &.article {
      padding: 100px;
    }
  }
  h1 {
    font-size: 48px;
  }
}
