@import '../../../styles/common.scss';

.boxContainer{
    width: 100vw;
    height: 100vh;
    padding: 50px 20px 20px 20px;
    background-color: $primary;
    display: grid;
    grid-template-rows: 6fr 2fr;
    align-items: center;
}
.burgerIcons{
    width: 24px;
    height: 24px;
    color: $white;
}
.navContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.socialIcons{
    height: 20px;
    width: auto;
}
.navItem{
    font-size: 20px;
    text-transform: uppercase;
    color: $white;
    padding: 25px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    margin: -10px -35px 0 -35px; 
}
.buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.closeButton{
    position: fixed;
    top: 30px;
    right: 20px;
}