@import "../../../styles/common.scss";

header {
  padding: 20px;
  background-color: $primary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.5s ease;
  .bottom-header {
    display: none;
  }
  &.home {
    background-color: transparent;
    .bottom-header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      .bottom-header-button {
        font-size: 16px;
        font-weight: 400;
        color: $white;
        padding: 0 10px;
        cursor: pointer;
      }
    }
  }
  &.home.active {
    background-color: $primary;
  }
  .top-header {
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-desktop {
      display: flex;
      p {
        cursor: pointer;
        padding: 0 10px;
        color: $white;
      }
      .active {
          p:after {
            display: block;
            content: "";
            height: 2px;
            border-radius: 5px;
            background-color: white;
            transition: width 0.3s ease-in-out;
            width: 100%;
          }
        }
    }
  }
}
.lng-buttons {
  display: flex;
  align-items: center;
  color: $white;
  .langButton {
    cursor: pointer;
    color: $white;
    font-weight: 300;
    &.active-lng {
      font-weight: 700;
    }
  }
}

.logo {
  width: 50px;
  height: 50px;
  color: $white;
  cursor: pointer;
}

.profile-icon {
  color: $white;
  height: 24px;
  width: auto;
  margin: 20px;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  header {
    padding: 20px 50px;
    .top-header {
      padding-left: 0;
    }
  }
  .logo {
    margin-right: 74.66px;
  }

  .nav-desktop,
  .bottom-header-button {
    p {
      &:after {
        display: block;
        content: "";
        height: 2px;
        border-radius: 5px;
        width: 0%;
        background-color: white;
        transition: width 0.3s ease-in-out;
      }
      &:hover:after {
        width: 100%;
      }
      &:hover {
        opacity: 100%;
      }
    }
  }
}
